{
  "agent": {
    "region": "ap-southeast-1"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/cloud-files/server.log",
            "log_group_name": "/NAME/api",
            "log_stream_name": "{instance_id}"
          },
          {
            "file_path": "/var/log/cloud-files/worker.log",
            "log_group_name": "/NAME/worker",
            "log_stream_name": "{instance_id}"
          },
          {
            "file_path": "/var/log/nginx/cloud-files-access.log",
            "log_group_name": "/NAME/nginx",
            "log_stream_name": "{instance_id}-access"
          }
        ]
      }
    }
  },
  "metrics": {
    "namespace": "CloudFiles/Host",
    "append_dimensions": {
      "InstanceId": "${aws:InstanceId}"
    },
    "aggregation_dimensions": [
      [
        "InstanceId"
      ]
    ],
    "metrics_collected": {
      "mem": {
        "measurement": [
          "mem_used_percent"
        ],
        "metrics_collection_interval": 60,
        "drop_original_metrics": [
          "mem_used_percent"
        ]
      },
      "disk": {
        "measurement": [
          "used_percent"
        ],
        "resources": [
          "/"
        ],
        "metrics_collection_interval": 60,
        "drop_device": true,
        "drop_original_metrics": [
          "disk_used_percent"
        ]
      }
    }
  }
}
